In [2]:
import pandas as pd
import tensorflow as tf

In [3]:
boston_csv = r'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(boston_csv)
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
print(boston.columns)
x = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm',
            'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
y = boston[['medv']]
print(x.shape, y.shape)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
(506, 13) (506, 1)

In [21]:
# 2. build a model
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(13, activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [22]:
model.fit(x, y, epochs=10000, verbose=0)
model.fit(x, y, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 935us/step - loss: 11.1862
Epoch 2/10
16/16 [==============================] - 0s 644us/step - loss: 9.8417
Epoch 3/10
16/16 [==============================] - 0s 622us/step - loss: 10.4174
Epoch 4/10
16/16 [==============================] - 0s 612us/step - loss: 9.7632
Epoch 5/10
16/16 [==============================] - 0s 623us/step - loss: 11.1900
Epoch 6/10
16/16 [==============================] - 0s 598us/step - loss: 10.7642
Epoch 7/10
16/16 [==============================] - 0s 561us/step - loss: 9.6833
Epoch 8/10
16/16 [==============================] - 0s 585us/step - loss: 10.0016
Epoch 9/10
16/16 [==============================] - 0s 561us/step - loss: 10.2081
Epoch 10/10
16/16 [==============================] - 0s 561us/step - loss: 10.2474

In [23]:
model.summary()

Model: "functional_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_5 (Dense)              (None, 13)                182
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 14
=================================================================
Total params: 196
Trainable params: 196
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.predict(x[0:5])

array([[29.150143],
       [24.569262],
       [32.51342 ],
       [30.86483 ],
       [29.87771 ]], dtype=float32)

In [25]:
y[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2